<link rel="stylesheet" type="text/css" href="/static/jquery.datetimepicker.css"/ >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/jquery.datetimepicker.js"></script>
<!-- <script src="/static/main.js"></script> -->
<h1>Our Reminder System</h1>
<p>{{ request.authenticated_userid }}</p>
{% block body %}
{% endblock %}
