{% extends "base.jinja2" %}

{% block menu %}
<li id="sign-up" class="home-menu-link pure-menu-item"><a href="{{ request.route_url('login') }}" class="pure-menu-link">Login</a></li>
{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div id='login-form-wrapper' class="content">
        <h3 id="confirmation-message" class="content-head is-center">{{ message }}</h2>
    </div>
</div>
{% endblock %}
