{% extends "base.jinja2" %}
{% block body %}
    {% for reminder in reminders %}
        <h2>{{ reminder.title }}</h2>
        <h3>{{ reminder.text_payload }}</h3>
        <p>To: {{ reminder.alias.alias }}</p>
        <p>{{ reminder.rrule.display_time }}</p>
    {% endfor %}
{% endblock %}